/*
ASPEL proyect, css/base.css v1ev
*/

:root{
    --bgblanco1: rgb(255, 255, 255); /*Fondo blanco*/
    --bgblanco2: rgb(241, 241, 241); /*Fondo header*/
    --bgblanco3: rgb(226, 226, 226); /*Fondo nav*/
    --bgblanco4: rgb(218, 218, 218); /*Fondo hover nav*/
    --bgblanco5: rgb(209, 209, 209); /*Fondo pag actual*/
    --bgblanco6: rgb(204, 204, 204); /*Fondo activos*/
    --txtgris1: rgb(75, 75, 75); /*Gris para texto*/
    --azul1: #0D47A1; /*Azul base*/
    --azul2: #0c4396; /*Azul base*/
    --azul3: #0b3b83; /*Azul base*/
}

/*AREA PRINCIPAL ================================================*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

body{
    background-color: var(--bgblanco1);
    width: 100%;
}

.noselect{
    user-select: none;
}

/*AREA MARGENES Y PADDING DEFAULT ================================*/

.padding-t{
    padding: 50px 10px 10px 10px
}

/*AREA HEADER ====================================================*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgblanco1);
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 100;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
    transition-property: opacity, height;
    transition-duration: 0.5s, 0.5s;
}
.header2{
    height: 120px;
}
.header3{
    background-color: rgba(0, 0, 0, 0.300);
}
img.logop{
    height: 60px;
    transition-property: height;
    transition-duration: 0.5s, 0.5s;
    margin-right: 50px;
    margin-left: 10%;
}
.header2 img.logop{
    /*content:url("../img/logotipos/logo2.png");*/
    height: 80px;
    transition-property: height;
    transition-duration: 0.5s, 0.5s;
}
nav.principal{
    margin-right: 10%;
}
nav.principal a.btnheader{
    font-weight: 500;
    color: var(--txtgris1);
    padding: 7px 9px;
    list-style: none;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    transition: background-color 0.1s linear,color 0.1s linear;
    outline: none !important;
}
.header3 nav.principal a.btnheader{
    color: var(--bgblanco1);
}
nav.principal a.btnheader:hover{
    background-color: var(--azul1);
    transition: background-color 0.1s linear,color 0.1s linear;
    color: var(--bgblanco1);
}
nav.principal a.btnheader:active{
    background-color: var(--azul2);
    transition: background-color 0.1s linear,color 0.1s linear;
    color: var(--bgblanco1) !important;
}
nav.principal a.btnheader.active{
    background-color: var(--bgblanco2);
}
.header3 nav.principal a.btnheader.active{
    border: 1px solid var(--bgblanco1);
    background-color: transparent;
}
nav.principal a.btnheader.active:hover{
    background-color: var(--azul2);
    transition: background-color 0.1s linear,color 0.1s linear;
    color: var(--bgblanco1) !important;
}
nav.principal a.btnheader:focus{
    outline: none;
    box-shadow: none;
}
.btnmenu{
    float: right;
    padding: 5px;
    background: none;
    margin-top: 25px;
    display: none;
    margin-right: 10%;
}
.area-activa{
    border: none;
    background-color: var(--bgblanco3);
}
/*.header2 .area-activa{
    border: solid var(--bgblanco1) 1px;
    background-color: transparent;
}*/
.openmenu{
    height: auto;
    overflow: hidden;
}
nav ul{
    margin-bottom: 0;
}
/*Formato para pantallas medianas*/
@media only screen and (max-width: 1023px) {
}
/*Formato para pantallas pequeñas*/
@media only screen and (max-width: 980px) {
    header{
        display: block;
        height: 90px;
    }
    .header2{
        height: 90px;
    }
    .btnmenu{
        display: block;
    }
    .openmenu{
        height: 0;
    }
    .menucontent{
        width: 100%;
        background-color: var(--bgblanco3);
        margin-top: 90px;
    }
    nav.principal{
        margin-right: 0;
    }
    img.logop{
        float: left;
        margin-top: 20px;
        margin-right: 0;
        width: 130px;
    }
    .header2 img.logop{
        width: 130px;
    }
}

/*AREA FOOTER ====================================================*/

footer{
    background-color: var(--bgblanco2);
    -webkit-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 3px 10px 0px rgba(0,0,0,0.2);
}
.footer-c{
    background-color: var(--bgblanco3);
}
img.logof{
    margin-top: 25px;
    width: 160px;
}

/*AREA FORMATO DE TEXTO ==========================================*/

h2{
    color: var(--txtgris1);
}

/*AREA DE PRELOADEER =============================================*/

div.cont-preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    z-index: 2000;
    transition:all .3s ease;
}

div.cont-preloader img{
    display: block;
    width: 80px;
    margin: auto;
    margin-top: calc(25% - 40px);
}

/*AREA DE MODAL ==================================================*/





/*AREA DE CONTROLES ===============================================*/

a.btn:focus {
    outline: none !important;
}












#scrollUp {
	bottom: 40px;
	right: 6%;
	width: 40px;
	height: 40px;
    background: url('../img/iconos/icons8-collapse-arrow-32.png');
    background-color: var(--azul1);
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 4px;
    border-radius: 50%;
    z-index: 1000;
}





.social {
	position: fixed; 
	left: 0; 
	top: 200px; 
	z-index: 1000; 
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; 
	}
 
	.social ul li .icon-facebook {background:#3b5998;} 
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
 
	.social ul li a:hover {
		background: #000; 
		padding: 10px 30px; 
	}