/*
ASPEL proyect, css/base.css v1ev
*/

:root{
    --bgblanco1: rgb(255, 255, 255); /*Fondo blanco*/
    --bgblanco2: rgb(241, 241, 241); /*Fondo header*/
    --bgblanco3: rgb(226, 226, 226); /*Fondo nav*/
    --bgblanco4: rgb(218, 218, 218); /*Fondo hover nav*/
    --bgblanco5: rgb(209, 209, 209); /*Fondo pag actual*/
    --bgblanco6: rgb(204, 204, 204); /*Fondo activos*/
    --gris1: rgb(75, 75, 75); /*Gris para texto*/
    --azul1: #0D47A1; /*Azul base*/
    --azul2: #0c4396; /*Azul base*/
    --azul3: #0b3b83; /*Azul base*/
}

/*AREA PRINCIPAL ================================================*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

body{
    background-color: var(--bgblanco1);
    width: 100%;
}

.noselect{
    user-select: none;
}

/*AREA MARGENES Y PADDING DEFAULT ================================*/

.padding-t{
    padding: 50px 10px 10px 10px
}

/*AREA HEADER ====================================================*/

/*Header*/
header{
    background-color: var(--bgblanco2);
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 100;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
    transition-property: opacity, height;
    transition-duration: 0.5s, 0.5s;
}
.header2{
    height: 150px;
}
.header3{
    background-color: rgba(0, 0, 0, 0.300);
}
/*contheader*/
.contheader{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: height;
    transition-duration: 0.5s, 0.5s;
}
.header2 .contheader{
    height: calc(100% - 35px);
    transition-property: height;
    transition-duration: 0.5s, 0.5s;
}
/*preheader*/
.preheader{
    display: fixed;
    height: 0px;
    width: 100%;
    overflow: hidden;
    padding: 0 10%;
    background-color: var(--bgblanco3);
    transition-property: height;
    transition-duration: 0.5s, 0.5s;
}
.header2 .preheader{
    height: 35px;
    transition-property: height;
    transition-duration: 0.5s, 0.5s;
}
.header3 .preheader{
    background-color: rgba(0, 0, 0, 0.300);
    color: white;
}
.header3 .preheader a{
    color: var(--bgblanco2);
}
.header3 .header-icon{
    filter: invert(1);
}
/*imagen header*/
img.logop{
    height: 60px;
    transition-property: height;
    transition-duration: 0.5s, 0.5s;
    margin-right: 50px;
    margin-left: 10%;
}
.header2 img.logop{
    height: 80px;
    transition-property: height;
    transition-duration: 0.5s, 0.5s;
}
/*navegacion y botonera*/
.menucontent hr{
    display: none;
}
nav.principal{
    margin-right: 10%;
}
nav.principal a.btnheader{
    font-weight: 500;
    color: var(--gris1);
    list-style: none;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    transition: background-color 0.1s linear,color 0.1s linear;
    outline: none !important;
}
.header3 nav.principal a.btnheader{
    color: var(--bgblanco1);
}
nav.principal a.btnheader:hover{
    background-color: var(--azul1);
    transition: background-color 0.1s linear,color 0.1s linear;
    color: var(--bgblanco1);
}
nav.principal a.btnheader:active{
    background-color: var(--azul2);
    transition: background-color 0.1s linear,color 0.1s linear;
}
nav.principal a.btnheader.active{
    background-color: var(--bgblanco3);
}
.header3 nav.principal a.btnheader.active{
    border: 1px solid var(--bgblanco1);
    background-color: transparent;
}
nav.principal a.btnheader.active:hover{
    background-color: var(--azul2);
    transition: background-color 0.1s linear,color 0.1s linear;
}
nav.principal a.btnheader:focus{
    outline: none;
    box-shadow: none;
}
.btnmenu{
    float: right;
    padding: 5px;
    background: none;
    margin-top: 25px;
    display: none;
    margin-right: 10%;
}
.area-activa{
    border: none;
    background-color: var(--bgblanco3);
}
.openmenu{
    height: auto;
    overflow: hidden;
}
nav ul{
    margin-bottom: 0;
}
/*Formato para pantallas medianas*/
@media only screen and (max-width: 1023px) {
    /*Header*/
    header{
        display: block;
        height: 95px;
    }
    .header2{
        height: 95px;
    }
    /*contheader*/
    /*preheader*/
    /*imagen header*/
    img.logop{
        float: left;
        margin-top: 20px;
        margin-right: 0;
        height: 60px;
    }
    .header2 img.logop{
        height: 60px;
    }
    /*navegacion y botonera*/
    .btnmenu{
        display: block;
    }
    .openmenu{
        height: 0;
    }
    .menucontent{
        width: 100%;
        background-color: var(--bgblanco3);
        margin-top: 90px;
    }
    .menucontent hr{
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    nav.principal{
        margin-right: 0;
    }
    nav.principal a.btnheader{
        text-align: left;
        width: 80%;
        margin: 0 10%;
    }
    nav.principal a.btnheader:hover{
        background-color: transparent;
        color: var(--azul1);
        text-decoration-line: underline;
    }
    nav.principal a.btnheader.active{
        background-color: transparent;
        color: var(--azul3);
        font-weight: bold;
    }
    nav.principal a.btnheader.active:hover{
        background-color: transparent;
        color: var(--azul1);
        text-decoration-line: underline;
    }
    nav.principal a.btnheader,nav.principal a.btn-cotizar{
        text-align: left;
        width: 80%;
        display: block;
        margin: auto;
    }
    .header2 .contheader,.contheader{
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
    }
    .preheader{
        display: none;
    }
}
/*Formato para pantallas pequeñas*/
@media only screen and (max-width: 750px) {
    /*Header*/
    /*contheader*/
    /*preheader*/
    /*imagen header*/
    /*navegacion y botonera*/
    .menucontent hr{
        width: 100%;
    }
    nav.principal a.btnheader{
        text-align: center;
        width: 100%;
        margin: 0 0;
    }
    nav.principal a.btnheader,nav.principal a.btn-cotizar{
        text-align: center;
        width: 100%;
    }
}

/*AREA FOOTER ====================================================*/

footer{
    background-color: var(--bgblanco2);
    color: var(--gris1);
}
.footer-copyright{
    background-color: var(--azul1);
    color: var(--bgblanco1);
}
.footer-copyright a{
    color: var(--bgblanco1);
}
img.logof{
    margin-top: 25px;
    width: 160px;
}

/*AREA FORMATO DE TEXTO ==========================================*/

h2{
    color: var(--gris1);
}

/*AREA DE PRELOADEER =============================================*/

div.cont-preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    z-index: 2000;
    transition:all .3s ease;
}

div.cont-preloader img{
    display: block;
    width: 80px;
    margin: auto;
    margin-top: calc(25% - 40px);
}

/*AREA DE MODAL ==================================================*/





/*AREA DE CONTROLES ===============================================*/

a.btn:focus {
    outline: none !important;
}

/*Formato para pantallas pequeñas*/
@media only screen and (max-width: 750px) {
    .nav-item, .nav-link{
        width: 100%;
        text-align: center;
    }
}


#scrollUp {
	bottom: 40px;
	right: 6%;
	width: 40px;
	height: 40px;
    background: url('../img/iconos/icons8-collapse-arrow-32.png');
    background-color: var(--azul1);
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 4px;
    border-radius: 50%;
    z-index: 1000;
}





