/*
ASPEL proyect, css/contenido.css v1td
*/

/* GENERAL ==========================================================*/

/* INDEX ==========================================================*/

div.precontenedor{
    display: block;
    width: 100%;
    height: 90px;
}
section.contenedor{
    padding: 100px 10%;
}
section.contenedor#seccion-programas{
    background-color: rgb(209, 220, 235);
}
section.contenedor#seccion-programas img{
    width: 90%;
}
section.contenedor#seccion-programasindx{
    background-color: transparent;
}
section.contenedor#seccion-programasindx img{
    width: 90%;
}

/*Formato para pantallas medianas*/
@media only screen and (max-width: 1023px) {
    section.contenedor{
        padding: 90px 8%;
    }
    section.contenedor#seccion2 img{
        width: 100%;
    }
}
/*Formato para pantallas pequeñas*/
@media only screen and (max-width: 750px) {
    section.contenedor{
        padding: 40px 5%;
    }
}
/*Colaboradores*/
div.contcolabs{
    width: 100%;
    min-height: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
div.colab{
    display: block;
    position: relative;
    width: 210px;
    height: 100px;
    overflow: hidden;
    background-color: transparent;
    margin: 15px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 42px 1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 42px 1px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 42px 1px #00000012;
    transition: width,height 0.2 ease-in;
    transition: width 0.2s, height 0.2s;
}
div.colab:hover{
    width: 220px;
    height: 110px;
    -webkit-box-shadow: 0px 0px 42px 1px rgba(0,0,2,0.10);
    -moz-box-shadow: 0px 0px 42px 1px rgba(0,0,2,0.10);
    box-shadow: 0px 0px 42px 1px rgba(0,0,2,0.10);
    transition: width 0.2s, height 0.2s;
}
div.colab:hover img{
    filter: grayscale(0);
}
div.colab img{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    margin: auto;
    filter: grayscale(1);
    transition-property: filter;
    transition-duration: 0.2s;    
}

/* PRODUCTOS =======================================================*/

#container{
    margin: auto;
    padding: 0;
    width: 95%;
}

small.texto-inferior{
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    text-align: center;
    margin-bottom: 25px;
}

.tarjeta{
    background-color: var(--bgblanco2);
    transition: transform 0.2s;
    cursor: pointer;
    border: 1px solid transparent;
}
.tarjeta:hover{
    height: 400px;
    transform: translateY(-5px);
    transition: transform 0.2s;
    border: 1px solid rgb(221, 221, 221);
    animation: border 0.1s ease-in;
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.21);
}
.tarjeta .btn-tarjeta{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.minitarjeta svg{
    width: 100%;
}

.nav-link{
    margin-right: 5px;
}
.nav-link:hover{
    background-color: var(--bgblanco2);
}

#seccion-infoprods,#seccion-infocaps,#seccion-infogrm,#seccion-infosoporte{
    padding-top: 75px;
    padding-bottom: 50px;
    background-color: rgb(209, 220, 235);
    z-index: 1;
}

#seccion-infoprods img, #seccion-infocaps img{
    width: 90%;
    position: absolute;
    margin-top: -85px;
    z-index: 0;
}

#seccion-infogrm img{
    display: block;
    width: 275px;
    margin: auto;
}
#seccion-infogrm iframe{
    display: block;
    width: 85%;
    margin: auto;
}

/*Formato para pantallas medianas*/
@media only screen and (max-width: 1023px) {
    #seccion-infoprods img, #seccion-infocaps img{
        margin-top: -90px;
    }
    #seccion-infogrm iframe{
        width: 90%;
        margin-top: 20px;
    }
}
/*Formato para pantallas pequeñas*/
@media only screen and (max-width: 750px) {
    #seccion-infoprods img, #seccion-infocaps img{
        display: none;
    }
    section.contenedor#seccion-infoprods{
        background-image: url(../img/general/programas2.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-x: right;
        background-position-y: -0;
    }
    section.contenedor#seccion-infocaps{
        background-image: url(../img/general/videos.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-x: right;
        background-position-y: -0;
    }
    #seccion-infogrm iframe{
        margin-top: 20px;
        height: 100%;
    }
}

/*CAPACITACION ====================================================*/

/*ANIMACIONES*/
