
.slider-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    margin: auto;
    top: 40%;
    right: 0;
    left: 0;
    width: 70%;
    z-index: 5;
}
.slidertitle{
    color:white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}
.sliderdesc{
    color:white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
    text-align: center;
    max-width: 85%;
}
.contpartsslider{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1023px) {

}
@media only screen and (max-width: 750px) {
    .slidertitle{
        font-size: 2em;
    }
}